.App {
  display: inline;
}

.container{
  color: black;
  margin-left: 33%;
  font-size: 25px;
  height: auto;
  width: 30%;
  background: #E84A27;
  padding: 20px;
  border: 2.5px solid white;
  border-radius: 20px;
}

.App-logo {
  height: auto%;
  width: 2%;
  padding-right: 0.5em;
}

.App-HI-logo {
  height: auto;
  width: 11%;
  padding-left: 0.1em;
}

.App-header {
  text-align: center;
  background-image: linear-gradient(#0455A4,#13294b);
  min-height: 150vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
